<html>
    <head>
        <title>HB-Investimentos</title>
        <link rel="stylesheet" href="../static/index.css">
        
        <body>
          
        <header class="cabecalho">       
                <div class="Menu">
                    <ul>
                        
                        <li><a href="/cadastrar">Cadastrar Investimento</a></Li>
                        <li><a href="/listar">listar</a></li>                               
                    </ul>     
                </div>
            </header>
            <div id="body">
                {% block conteudo %} 
                <h1>Seja Bem vindo a HB investimentos</h1>
                {% endblock %}
            </div>  
        </body>
    </head>
</html>