<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/novo_aluno.css">
    </head>
    <body>
        <h1>Novo Aluno</h1>
        <form action="/salvar" method="POST">
            <div class="labels">
                <label for="">Nome :</label> 
            </div>
            <input type="text" name="nome" class="text-box"> <br/>            
            <div class="labels">
                <label for="">Sobrenome :</label>                 
            </div>
            <input type="text" name="sobrenome"  class="text-box"> <br/>            
            <div class="labels">
                <label for="">Telefone :</label>                 
            </div>
            <input type="text" name="telefone"  class="text-box"> <br/>  

            <hr />
            <input type="submit" value="Salvar">
        </form>
    </body>
</html>