html, body, div{
    margin: 0;
    padding: 0;
}
body{
    background:  rgb(174, 198, 226);
}

div {
    height: 15em;
    float: left;
}

#cabecalho{
    width: 100%;
    height: 30em;
    background:rgb(156, 145, 42);
    border-bottom: 1px solid #000;

}

#cabecalho img{
    width: 60em; 
    /*margin-top: -3m; */
   /* padding: 0;*/
}

.e{
    width: 30%;
    background: rgb(156, 145, 42);
}
.c{
    width: 55%;
    background: rgb(156, 145, 42);
}

.d{
    width: 15%;
    background: rgb(156, 145, 42);
}