{% extends "layoutzada.html" %}

{% block index %}

    <h1>Produtos Alterar!</h1>
    <a href="/produto/lista">Listagem</a>
    
    <div class= "formulario">
        <form action="/produto/alterar/salvar" method="POST"> 
            <input type="hidden" name="id" value="{{produto.id}}">
            <input class="input" type="text" placeholder="nome" name="nome" value="{{produto.nome}}" > 
            <input class="input" type="text" placeholder="descrição" name="descricao" value="{{produto.descricao}}">
            <input type="submit" value="salvar">        
        </form>

    </div>

{% endblock %}