{% extends "layoutzada.html" %}

{% block index %}

    <h1>Lista de clientes!</h1>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>cpf</th>
                <th>nascimento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in lista %}
            
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.nome}}</td>
                    <td>{{i.cpf}}</td>
                    <td>{{i.nascimento}}</td>
                    <td>
                        <a href="/cliente/delete?id={{i.id}}">Deletar</a>
                        <a href="/cliente/alterar?id={{i.id}}">Alterar</a>
                    </td>
                
                </tr>
            {% endfor %}

        </tbody>



        
    </table>

{% endblock %}